.android/
.bashrc
.cache/
.cargo/
.CFUserTextEncoding
.cocoapods/
.config/
.cups/
.docker/
.dot/
.emulator_console_auth_token
.expo/
.fig.dotfiles.bak/
.fig/
.fzf.bash
.gem/
.gradle/
.local/bin/blue
.local/bin/lvim
.local/include/
.local/lib/
.local/pipx/
.local/share/
.local/state/
.mongodb/
.npm/
.nvm/
.oh-my-zsh/
.profile
.pyenv/
.python_history
.snipaste/
.ssh/
.swiftpm/
.sync_settings/
.Trash/
.yarn/
.yarnrc
.z
.zcompdump*
.Zotero/
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Google*Drive
Library/
Movies/
Music/
Pictures/
Projects/
Public/