.CFUserTextEncoding
.Zotero/
.android/
.cocoapods/
.config/
.cups/
.docker/
.dot/
.emulator_console_auth_token
.expo/
.fig.dotfiles.bak/
.fig/
.gem/
.local/bin/blue
.local/pipx/
.local/share/
.local/state/
.mongodb/
.npm/
.nvm/
.oh-my-zsh/
.pyenv/
.python_history
.snipaste/
.ssh/
.swiftpm/
.sync_settings/
.Trash/
.yarnrc
.z
.zcompdump*
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Google*Drive
Library/
Movies/
Music/
Pictures/
Projects/
Public/